<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
        <div id="container">
            <br><br>
            <a id="heading"> GET STARTED </a><br><br><br>
            <form method="POST" action="{{ url_for('index') }}" enctype="multipart/form-data">
                <label for="file-upload" class="custom-file-upload">
                    Select a file
                </label>
                <input id="file-upload" type="file" name="photo" accept="image/*" required><br>
                <div id="file-name">No file chosen</div>
                <input type="submit" value="Upload">
            </form>
        </div>
        <script src="{{ url_for('static', filename='js/index.js') }}"> </script>
    {% endblock %}
</body>
</html>